*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
ul{
    display: inline-flex;
    float: left;
    border: 2px solid black;
    width: 1348px;
    height: 50px;
  text-align: center;
    background-color: rgb(0, 0, 0);
}
li{
    list-style-type: none;
    padding:10px;
    /* text-align: center; */
    margin:4px;
    border: 1px solid transparent;
    height: 20px;
}
nav{
background-color: rgb(0, 141, 54);
}
a{
    border: 1px solid transparent;
   float: right;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    color: white;
}
li:hover{
    background-color: rgb(70, 61, 61);
}
.active {
    background-color: rgb(149, 165, 179);
}
@media screen and (max-width: 600px) {
    #li {
      float: none;
      display: block;
    }
  
    a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

#i2{
    float: left;
    font-size: 20px;
    color: white;
    padding: 15px;
    padding-right: 200px;
    /* text-align: center; */
   
}


























